n8n_node.json
{
  "nodes": [
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.metadata_text }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2656,
        1984
      ],
      "id": "dd9a6265-54d3-4bc8-9635-1ce983a8d828",
      "name": "Send a text message",
      "webhookId": "c091a74c-7391-4a5f-8d25-d58740cfb81e",
      "credentials": {
        "telegramApi": {
          "id": "wo2KtQA3GKUjikub",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "chatId": "={{ $('Prepare Telegram Payload').first().json.chat_id }}",
        "binaryData": true,
        "binaryPropertyName": "data",
        "additionalFields": {
          "caption": "={{ $('Prepare Telegram Payload').first().json.caption }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2656,
        1776
      ],
      "id": "9e667e8c-4d85-499d-8bee-736c560ef343",
      "name": "Send a video",
      "webhookId": "f727f79d-bf2a-4bac-8cac-14068d2c4d95",
      "credentials": {
        "telegramApi": {
          "id": "wo2KtQA3GKUjikub",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.video_download_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2448,
        1776
      ],
      "id": "1d90b62c-2a00-4803-8d3e-dbb93106cf7b",
      "name": "Download Watermark Video",
      "credentials": {
        "httpBearerAuth": {
          "id": "qnh8bEUvqFLgPjIQ",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare Telegram Payload\nconst original = $('Code in JavaScript3').first().json;\nconst result = $input.first().json;\n\nconst API_BASE_URL = 'https://authentic-linguist-scoundrel.ngrok-free.dev';\n\nconst chat_id = original.telegram?.chat_id;\nif (!chat_id) {\n  throw new Error('chat_id tidak ditemukan dari payload Telegram');\n}\n\nconst yt = original.render_payload?.youtube_metadata;\nif (!yt) {\n  throw new Error('youtube_metadata tidak ditemukan dari render_payload');\n}\n\nconst video_id = original.video_id;\nconst files = result.files || [];\n\nconst watermarkedVideo =\n  files.find(file =>\n    file.filename?.endsWith('.mp4') &&\n    (\n      file.filename.includes('_wm') ||\n      file.path?.includes('/watermarked/')\n    )\n  ) ||\n  files.find(file => file.filename?.endsWith('.mp4'));\n\nif (!watermarkedVideo) {\n  throw new Error(`File video watermark tidak ditemukan. files=${JSON.stringify(files)}`);\n}\n\nconst rawVideoPath =\n  watermarkedVideo.absolute_path ||\n  watermarkedVideo.file_path ||\n  watermarkedVideo.path;\n\nconst video_path = rawVideoPath?.startsWith('/')\n  ? rawVideoPath\n  : rawVideoPath\n    ? `/Users/agusrachman/Documents/Codex/content-short/storage/${rawVideoPath}`\n    : null;\n\nconst video_download_url =\n  watermarkedVideo.download_url ||\n  (watermarkedVideo.url ? `${API_BASE_URL}${watermarkedVideo.url}` : null);\n\nif (!video_download_url) {\n  throw new Error(`Download URL video tidak ditemukan: ${JSON.stringify(watermarkedVideo)}`);\n}\n\nconst hashtags = Array.isArray(yt.hashtags) ? yt.hashtags.join(' ') : '';\nconst hookText = original.render_payload?.hook_3_5_seconds?.text || '-';\nconst thumbnailText = yt.thumbnail_text || '-';\nconst viralScore = original.render_payload?.viral_score ?? '-';\nconst clipType = original.render_payload?.clip_type || '-';\nconst duration =\n  original.render_payload?.duration ||\n  original.render_payload?.calculated_duration ||\n  '-';\n\nconst caption = [\n  yt.title || 'Video pendek',\n  hashtags\n].filter(Boolean).join('\\n\\n').slice(0, 1024);\n\nconst metadata_text = [\n  '✅ Render Watermark Selesai',\n  '',\n  `🎬 Title:\\n${yt.title || '-'}`,\n  '',\n  `📝 Description:\\n${yt.description || '-'}`,\n  '',\n  `🏷 Hashtags:\\n${hashtags || '-'}`,\n  '',\n  `🖼 Thumbnail Text:\\n${thumbnailText}`,\n  '',\n  `🪝 Hook:\\n${hookText}`,\n  '',\n  `⭐ Viral Score:\\n${viralScore}`,\n  '',\n  `🎭 Clip Type:\\n${clipType}`,\n  '',\n  `⏱ Duration:\\n${duration} detik`,\n  '',\n  `🔗 Source Video ID:\\n${video_id}`,\n  '',\n  `📁 File:\\n${watermarkedVideo.filename || video_path || video_download_url}`,\n  '',\n  `⬇️ Download:\\n${video_download_url}`\n].join('\\n');\n\nreturn [\n  {\n    json: {\n      chat_id,\n      video_id,\n      video_path,\n      video_download_url,\n      caption,\n      metadata_text,\n      filename: watermarkedVideo.filename || video_path || video_download_url\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        1776
      ],
      "id": "3da734c6-2025-497b-99a6-ee71b77231cf",
      "name": "Prepare Telegram Payload"
    },
    {
      "parameters": {
        "url": "=https://authentic-linguist-scoundrel.ngrok-free.dev/jobs/{{ $json.job_id }}/result",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer change-me"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2016,
        1776
      ],
      "id": "f87ad88e-8f9d-4ced-8424-d882371c1ace",
      "name": "Get Watermark Result"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const body = item.json.body || item.json;\n\n  if (!body.job_id) {\n    throw new Error(`Watermark job_id tidak ditemukan. Response: ${JSON.stringify(item.json)}`);\n  }\n\n  return {\n    json: {\n      job_id: body.job_id,\n      step: body.step || 'watermark',\n      status_url: body.status_url || `/jobs/${body.job_id}`,\n      result_url: body.result_url || `/jobs/${body.job_id}/result`,\n      source: $('Code in JavaScript3').first().json.source,\n      video_id:$('Code in JavaScript3').first().json.video_id\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        1792
      ],
      "id": "2605e33f-a69e-4603-a822-dfc192c2c6c3",
      "name": "Remap Watermark Job ID3"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1808,
        1808
      ],
      "id": "1981c495-8e4a-48d0-ac27-ccfd4280bd83",
      "name": "Wait Watermark3",
      "webhookId": "37804140-9dfa-4bf9-8ac3-2e9a2fffbe20"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "watermark-completed-status",
              "leftValue": "=completed",
              "rightValue": "={{ $json.status }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1536,
        1792
      ],
      "id": "4510346f-b2a3-4120-bfcb-556cd3fa89f1",
      "name": "If Watermark Completed3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://authentic-linguist-scoundrel.ngrok-free.dev/jobs/steps/watermark",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer change-me"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "source",
              "value": "={{ $('Code in JavaScript3').first().json.source }}"
            },
            {
              "name": "watermark_text",
              "value": "KILASANVIDEO"
            },
            {
              "name": "watermark_mode",
              "value": "text"
            },
            {
              "name": "watermark_position",
              "value": "center_15_top"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        768,
        1792
      ],
      "id": "c0e37cd4-e735-425d-bca9-e00695d86a8a",
      "name": "Trigger Watermark3"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1680,
        1504
      ],
      "id": "89379212-f4b6-4c58-8754-77df2053054c",
      "name": "Wait Subtitle2",
      "webhookId": "37804140-9dfa-4bf9-8ac3-2e9a2fffbe22"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "subtitle-completed-status",
              "leftValue": "=completed",
              "rightValue": "={{ $json.status }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1440,
        1488
      ],
      "id": "b4ab9908-e9bc-478e-b086-29b2476bf4bb",
      "name": "If Subtitle Completed2"
    },
    {
      "parameters": {
        "url": "=https://authentic-linguist-scoundrel.ngrok-free.dev/subtitle/jobs/{{ $json.job_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer change-me"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1072,
        1488
      ],
      "id": "a489ccf4-0f56-407a-9b88-6cf20c82fd47",
      "name": "Cek Status Subtitle2"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const body = item.json.body || item.json;\n\n  if (!body.job_id) {\n    throw new Error(`Subtitle job_id tidak ditemukan. Response: ${JSON.stringify(item.json)}`);\n  }\n\n  return {\n    json: {\n      job_id: body.job_id,\n      step: 'subtitle',\n      status_url: body.status_url || `/subtitle/jobs/${body.job_id}`,\n      result_url: body.result_url || `/subtitle/jobs/${body.job_id}`,\n      source: $('Code in JavaScript3').first().json.source,\n      video_id: $('Code in JavaScript3').first().json.video_id\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        1248
      ],
      "id": "bb694299-7174-461b-af12-092ec1f340b9",
      "name": "Remap Subtitle Job ID2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://authentic-linguist-scoundrel.ngrok-free.dev/subtitle/burn",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer change-me"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "video_path",
              "value": "=/Users/agusrachman/Documents/Codex/content-short/storage/free-viral-shorts/{{ $('Code in JavaScript3').first().json.video_id }}/shorts/short_01.mp4"
            },
            {
              "name": "language",
              "value": "id"
            },
            {
              "name": "engine",
              "value": "auto-captions"
            },
            {
              "name": "style",
              "value": "viral_clip_pro"
            },
            {
              "name": "replace_original",
              "value": "true"
            },
            {
              "name": "transcribe_model",
              "value": "medium"
            },
            {
              "name": "transcribe_preset",
              "value": "accurate"
            },
            {
              "name": "audio_preset",
              "value": "speech"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1056,
        1248
      ],
      "id": "0181fc99-6d79-4e58-90c7-8d18c0b63e1b",
      "name": "Trigger Subtitle Generator2"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1520,
        1024
      ],
      "id": "4bfd05a9-c255-4c6d-8dc1-481d66777528",
      "name": "Wait Opening3",
      "webhookId": "37804140-9dfa-4bf9-8ac3-2e9a2fffbe21"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "opening-completed-status",
              "leftValue": "=completed",
              "rightValue": "={{ $json.status }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1280,
        1008
      ],
      "id": "a4e58fe5-2c65-4b4d-980d-1d11e0bb7aa1",
      "name": "If Opening Completed3"
    },
    {
      "parameters": {
        "url": "=https://authentic-linguist-scoundrel.ngrok-free.dev/jobs/{{ $json.job_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer change-me"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        896,
        1008
      ],
      "id": "3446df26-d94c-427c-972f-5922b6c7b01d",
      "name": "Cek Status Opening3"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const body = item.json.body || item.json;\n\n  if (!body.job_id) {\n    throw new Error(`Opening job_id tidak ditemukan. Response: ${JSON.stringify(item.json)}`);\n  }\n\n  return {\n    json: {\n      job_id: body.job_id,\n      step: body.step || 'opening',\n      status_url: body.status_url || `/jobs/${body.job_id}`,\n      result_url: body.result_url || `/jobs/${body.job_id}/result`,\n      source: $('Code in JavaScript3').first().json.source,\n      video_id: $('Code in JavaScript3').first().json.video_id\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        1008
      ],
      "id": "8142f8f0-6c71-44f6-af07-7b4714b0faec",
      "name": "Remap Opening Job ID3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://authentic-linguist-scoundrel.ngrok-free.dev/jobs/steps/opening",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer change-me"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "source",
              "value": "={{ $('Code in JavaScript3').first().json.source }}"
            },
            {
              "name": "opening_statement",
              "value": "={{ $('Code in JavaScript3').first().json.render_payload.opening_narration.text }}"
            },
            {
              "name": "opening_voice",
              "value": "id-ID-GadisNeural"
            },
            {
              "name": "opening_rate",
              "value": "+10%"
            },
            {
              "name": "opening_pitch",
              "value": "+0Hz"
            },
            {
              "name": "opening_thumbnail_title",
              "value": "={{ $('Code in JavaScript3').first().json.render_payload.youtube_metadata.thumbnail_text }}"
            },
            {
              "name": "opening_thumbnail_font",
              "value": "assets/font/thumbnail-title/Bangers-Regular.ttf"
            },
            {
              "name": "opening_source_title",
              "value": "KILASANVIDEO"
            },
            {
              "name": "opening_bgm_volume",
              "value": "0.30"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        496,
        1008
      ],
      "id": "7c961431-130d-4464-b8c7-d1296c96685a",
      "name": "Trigger Opening Narration3"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1120,
        784
      ],
      "id": "336f415f-9144-4b2a-a4a6-d2f8362cada9",
      "name": "Wait9",
      "webhookId": "d8043f7f-7843-440f-9e93-5357c3c32b73"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9a25dc2b-4a08-4539-acef-03ccfd185218",
              "leftValue": "=completed",
              "rightValue": "={{ $json.status }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        896,
        768
      ],
      "id": "345b4740-2104-4b62-9d3f-abd6202d69b1",
      "name": "If8"
    },
    {
      "parameters": {
        "url": "=https://authentic-linguist-scoundrel.ngrok-free.dev/jobs/{{ $json.job_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer change-me"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        688,
        768
      ],
      "id": "40d58418-79e6-450d-abb1-75be32a83b44",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "jsCode": "/**\n * n8n Code Node\n * Parser Telegram input untuk payload JSON dari message.text atau file .json.\n */\n\nfunction fail(message, details = {}) {\n  throw new Error(\n    `${message}${Object.keys(details).length ? ` | ${JSON.stringify(details)}` : ''}`\n  );\n}\n\nfunction isObject(value) {\n  return value !== null && typeof value === 'object' && !Array.isArray(value);\n}\n\nfunction isNonEmptyString(value) {\n  return typeof value === 'string' && value.trim().length > 0;\n}\n\nfunction isValidNumber(value) {\n  return typeof value === 'number' && Number.isFinite(value);\n}\n\nfunction extractYoutubeVideoId(sourceOrVideoId) {\n  if (!isNonEmptyString(sourceOrVideoId)) return null;\n\n  const value = sourceOrVideoId.trim();\n\n  const patterns = [\n    /youtube\\.com\\/watch\\?v=([a-zA-Z0-9_-]{11})/,\n    /youtu\\.be\\/([a-zA-Z0-9_-]{11})/,\n    /youtube\\.com\\/shorts\\/([a-zA-Z0-9_-]{11})/,\n    /^([a-zA-Z0-9_-]{11})$/\n  ];\n\n  for (const pattern of patterns) {\n    const match = value.match(pattern);\n    if (match) return match[1];\n  }\n\n  return null;\n}\n\nfunction safeJsonParse(value) {\n  try {\n    return JSON.parse(value);\n  } catch (error) {\n    return null;\n  }\n}\n\nasync function getRawPayloadText(item, itemIndex, helpers) {\n  const binaryKeys = Object.keys(item.binary || {});\n\n  if (binaryKeys.length > 0) {\n    const binaryPropertyName = binaryKeys.includes('data') ? 'data' : binaryKeys[0];\n    const binaryMeta = item.binary[binaryPropertyName] || {};\n    const fileName =\n      binaryMeta.fileName ||\n      item.json?.message?.document?.file_name ||\n      item.json?.message?.document?.fileName ||\n      null;\n\n    const buffer = await helpers.getBinaryDataBuffer(itemIndex, binaryPropertyName);\n    const raw = buffer.toString('utf8').trim();\n\n    if (!isNonEmptyString(raw)) {\n      fail('File JSON Telegram kosong atau tidak bisa dibaca sebagai UTF-8.', {\n        binary_property: binaryPropertyName,\n        file_name: fileName\n      });\n    }\n\n    return {\n      raw,\n      input_type: 'telegram_json_file',\n      binary_property: binaryPropertyName,\n      file_name: fileName\n    };\n  }\n\n  const text = item.json?.message?.text;\n\n  if (isNonEmptyString(text)) {\n    return {\n      raw: text.trim(),\n      input_type: 'telegram_text',\n      binary_property: null,\n      file_name: null\n    };\n  }\n\n  fail('Payload Telegram tidak ditemukan. Kirim JSON sebagai message.text atau upload file .json, dan pastikan Telegram Trigger2 Additional Fields > Download aktif.', {\n    available_json_keys: Object.keys(item.json || {}),\n    has_binary: Boolean(item.binary),\n    document: item.json?.message?.document || null\n  });\n}\n\nfunction parsePayload(rawInput) {\n  let parsed = safeJsonParse(rawInput.raw);\n\n  if (parsed === null) {\n    fail('Payload Telegram bukan JSON valid pada parse pertama.', {\n      input_type: rawInput.input_type,\n      file_name: rawInput.file_name,\n      text_preview: rawInput.raw.slice(0, 500)\n    });\n  }\n\n  if (typeof parsed === 'string') {\n    const secondParsed = safeJsonParse(parsed.trim());\n\n    if (secondParsed === null) {\n      fail('Payload Telegram berhasil parse pertama, tapi gagal parse kedua.', {\n        input_type: rawInput.input_type,\n        file_name: rawInput.file_name,\n        first_parse_type: typeof parsed,\n        first_parse_preview: parsed.slice(0, 500)\n      });\n    }\n\n    parsed = secondParsed;\n  }\n\n  if (!isObject(parsed)) {\n    fail('Payload hasil parse harus berupa object JSON.', {\n      input_type: rawInput.input_type,\n      file_name: rawInput.file_name,\n      parsed_type: typeof parsed\n    });\n  }\n\n  return parsed;\n}\n\nfunction validatePayload(payload) {\n  const errors = [];\n\n  const videoId = extractYoutubeVideoId(\n    payload.source ||\n    payload.video_id ||\n    payload.source_video?.video_id ||\n    payload.render_payload?.source_video?.video_id\n  );\n\n  if (!videoId) {\n    errors.push({\n      field: 'video_id/source/source_video.video_id/render_payload.source_video.video_id',\n      message: 'Wajib berisi YouTube URL valid atau video_id 11 karakter.'\n    });\n  }\n\n  if (!Number.isInteger(payload.num_clips) || payload.num_clips < 1) {\n    errors.push({\n      field: 'num_clips',\n      message: 'num_clips wajib integer minimal 1.'\n    });\n  }\n\n  const allowedQuality = ['720', '1080', '1440', '2160'];\n\n  if (!allowedQuality.includes(String(payload.quality))) {\n    errors.push({\n      field: 'quality',\n      message: `quality harus salah satu dari: ${allowedQuality.join(', ')}.`\n    });\n  }\n\n  if (!isNonEmptyString(payload.languages)) {\n    errors.push({\n      field: 'languages',\n      message: 'languages wajib string, contoh: id,en.'\n    });\n  }\n\n  if (!isObject(payload.render_payload)) {\n    errors.push({\n      field: 'render_payload',\n      message: 'render_payload wajib object.'\n    });\n  }\n\n  if (errors.length > 0) {\n    fail('Payload utama tidak valid.', { errors });\n  }\n\n  const rp = payload.render_payload;\n\n  if (!Number.isInteger(rp.clip_index) || rp.clip_index < 1) {\n    fail('render_payload.clip_index wajib integer minimal 1.');\n  }\n\n  if (!isValidNumber(rp.viral_score) || rp.viral_score < 0 || rp.viral_score > 10) {\n    fail('render_payload.viral_score wajib number antara 0 sampai 10.');\n  }\n\n  if (!isNonEmptyString(rp.clip_type)) {\n    fail('render_payload.clip_type wajib string.');\n  }\n\n  if (!isValidNumber(rp.start)) {\n    fail('render_payload.start wajib number.');\n  }\n\n  if (!isValidNumber(rp.end)) {\n    fail('render_payload.end wajib number.');\n  }\n\n  if (rp.end <= rp.start) {\n    fail('render_payload.end harus lebih besar dari start.', {\n      start: rp.start,\n      end: rp.end\n    });\n  }\n\n  if (!isValidNumber(rp.duration) || rp.duration <= 0) {\n    fail('render_payload.duration wajib number lebih dari 0.');\n  }\n\n  const calculatedDuration = Number((rp.end - rp.start).toFixed(2));\n\n  if (Math.abs(calculatedDuration - rp.duration) > 0.3) {\n    fail('render_payload.duration tidak sesuai dengan end - start.', {\n      provided_duration: rp.duration,\n      calculated_duration: calculatedDuration\n    });\n  }\n\n  if (!isObject(rp.hook_3_5_seconds)) {\n    fail('render_payload.hook_3_5_seconds wajib object.');\n  }\n\n  const hook = rp.hook_3_5_seconds;\n\n  if (!isValidNumber(hook.start) || !isValidNumber(hook.end)) {\n    fail('hook_3_5_seconds.start dan end wajib number.');\n  }\n\n  if (hook.end <= hook.start) {\n    fail('hook_3_5_seconds.end harus lebih besar dari start.');\n  }\n\n  if (hook.start < rp.start || hook.end > rp.end) {\n    fail('hook_3_5_seconds harus berada di dalam range clip.', {\n      clip_start: rp.start,\n      clip_end: rp.end,\n      hook_start: hook.start,\n      hook_end: hook.end\n    });\n  }\n\n  if (!isNonEmptyString(hook.text)) {\n    fail('hook_3_5_seconds.text wajib string.');\n  }\n\n  if (!Array.isArray(rp.selected_transcript) || rp.selected_transcript.length === 0) {\n    fail('render_payload.selected_transcript wajib array dan tidak boleh kosong.');\n  }\n\n  rp.selected_transcript.forEach((segment, index) => {\n    if (!isObject(segment)) {\n      fail(`selected_transcript[${index}] wajib object.`);\n    }\n\n    if (!isValidNumber(segment.start)) {\n      fail(`selected_transcript[${index}].start wajib number.`);\n    }\n\n    if (!isValidNumber(segment.end)) {\n      fail(`selected_transcript[${index}].end wajib number.`);\n    }\n\n    if (segment.end <= segment.start) {\n      fail(`selected_transcript[${index}].end harus lebih besar dari start.`);\n    }\n\n    if (!isNonEmptyString(segment.text)) {\n      fail(`selected_transcript[${index}].text wajib string.`);\n    }\n  });\n\n  if (!isObject(rp.youtube_metadata)) {\n    fail('render_payload.youtube_metadata wajib object.');\n  }\n\n  if (!isNonEmptyString(rp.youtube_metadata.title)) {\n    fail('youtube_metadata.title wajib string.');\n  }\n\n  if (!isNonEmptyString(rp.youtube_metadata.description)) {\n    fail('youtube_metadata.description wajib string.');\n  }\n\n  if (!Array.isArray(rp.youtube_metadata.hashtags) || rp.youtube_metadata.hashtags.length === 0) {\n    fail('youtube_metadata.hashtags wajib array dan tidak boleh kosong.');\n  }\n\n  rp.youtube_metadata.hashtags.forEach((tag, index) => {\n    if (!isNonEmptyString(tag)) {\n      fail(`youtube_metadata.hashtags[${index}] wajib string.`);\n    }\n\n    if (!tag.startsWith('#')) {\n      fail(`youtube_metadata.hashtags[${index}] harus diawali #.`);\n    }\n  });\n\n  if (!isObject(rp.subtitle_recommendation)) {\n    fail('render_payload.subtitle_recommendation wajib object.');\n  }\n\n  if (!isNonEmptyString(rp.subtitle_recommendation.style)) {\n    fail('subtitle_recommendation.style wajib string.');\n  }\n\n  if (\n    !Number.isInteger(rp.subtitle_recommendation.max_words_per_line) ||\n    rp.subtitle_recommendation.max_words_per_line < 1 ||\n    rp.subtitle_recommendation.max_words_per_line > 8\n  ) {\n    fail('subtitle_recommendation.max_words_per_line wajib integer antara 1 sampai 8.');\n  }\n\n  if (!isObject(rp.editing_recommendation)) {\n    fail('render_payload.editing_recommendation wajib object.');\n  }\n\n  if (\n    !Array.isArray(rp.editing_recommendation.recommended_cut_style) ||\n    rp.editing_recommendation.recommended_cut_style.length === 0\n  ) {\n    fail('editing_recommendation.recommended_cut_style wajib array dan tidak boleh kosong.');\n  }\n\n  return {\n    video_id: videoId,\n    calculated_duration: calculatedDuration\n  };\n}\n\nconst output = [];\nconst items = $input.all();\n\nfor (let index = 0; index < items.length; index++) {\n  const item = items[index];\n  const rawInput = await getRawPayloadText(item, index, this.helpers);\n  const payload = parsePayload(rawInput);\n  const validationResult = validatePayload(payload);\n  const message = item.json?.message || {};\n\n  output.push({\n    json: {\n      source: `https://youtu.be/${validationResult.video_id}`,\n      video_id: validationResult.video_id,\n      num_clips: payload.num_clips,\n      quality: String(payload.quality),\n      languages: payload.languages.trim(),\n\n      render_payload: {\n        ...payload.render_payload,\n        calculated_duration: validationResult.calculated_duration\n      },\n\n      source_video: payload.source_video || payload.render_payload.source_video || {\n        video_id: validationResult.video_id,\n        job_id: null,\n        status: null\n      },\n\n      telegram: {\n        update_id: item.json?.update_id ?? null,\n        message_id: message.message_id ?? null,\n        chat_id: message.chat?.id ?? null,\n        username: message.from?.username ?? null,\n        first_name: message.from?.first_name ?? null,\n        last_name: message.from?.last_name ?? null,\n        input_type: rawInput.input_type,\n        file_name: rawInput.file_name,\n        binary_property: rawInput.binary_property\n      },\n\n      validation: {\n        valid: true,\n        message: 'Payload Telegram JSON berhasil diparse dan siap diproses.'\n      }\n    }\n  });\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        768
      ],
      "id": "a83641c2-e674-40c3-a65b-a6bae70f5770",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -288,
        768
      ],
      "id": "5ba31cc2-eeed-4b46-b706-3651d39f402f",
      "name": "Telegram Trigger2",
      "webhookId": "6546baad-d406-441b-8730-8493ac0ee7e4",
      "credentials": {
        "telegramApi": {
          "id": "wo2KtQA3GKUjikub",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://authentic-linguist-scoundrel.ngrok-free.dev/jobs/steps/render",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer change-me"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        80,
        768
      ],
      "id": "7a534da1-3207-49b9-be90-1ebe4fbe2f9b",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Remap Watermark Job ID3').first().json;\n\nreturn $input.all().map(item => {\n  const body = item.json.body || item.json;\n\n  return {\n    json: {\n      ...body,\n      job_id: body.job_id || ctx.job_id,\n      step: body.step || ctx.step || 'watermark',\n      status_url: body.status_url || ctx.status_url || `/jobs/${ctx.job_id}`,\n      result_url: body.result_url || ctx.result_url || `/jobs/${ctx.job_id}/result`,\n      source: ctx.source,\n      video_id: ctx.video_id\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        1792
      ],
      "id": "3d1d9a4e-fa8e-4f10-8075-f7716b588769",
      "name": "Keep Watermark Status Context2"
    },
    {
      "parameters": {
        "url": "=https://authentic-linguist-scoundrel.ngrok-free.dev/jobs/{{ $json.job_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer change-me"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1152,
        1792
      ],
      "id": "a0007633-e763-428f-b9ec-ada8bed6d0db",
      "name": "Cek Status Watermark2"
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Remap Subtitle Job ID2').first().json;\n\nreturn $input.all().map(item => {\n  const body = item.json.body || item.json;\n\n  return {\n    json: {\n      ...body,\n      job_id: body.job_id || ctx.job_id,\n      step: body.step || ctx.step || 'subtitle',\n      status_url: body.status_url || ctx.status_url || `/subtitle/jobs/${ctx.job_id}`,\n      result_url: body.result_url || ctx.result_url || `/subtitle/jobs/${ctx.job_id}`,\n      source: ctx.source,\n      video_id: ctx.video_id\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        1488
      ],
      "id": "3250c101-6983-49e3-8b42-9d480638a761",
      "name": "Keep Subtitle Status Context1"
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Remap Opening Job ID3').first().json;\n\nreturn $input.all().map(item => {\n  const body = item.json.body || item.json;\n\n  return {\n    json: {\n      ...body,\n      job_id: body.job_id || ctx.job_id,\n      step: body.step || ctx.step || 'opening',\n      status_url: body.status_url || ctx.status_url || `/jobs/${ctx.job_id}`,\n      result_url: body.result_url || ctx.result_url || `/jobs/${ctx.job_id}/result`,\n      source: ctx.source,\n      video_id: ctx.video_id\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        1008
      ],
      "id": "612724c4-9a03-4834-8a0f-4eb726ec9b99",
      "name": "Keep Opening Status Context2"
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Remap Render Job ID1').first().json;\n\nreturn $input.all().map(item => {\n  const body = item.json.body || item.json;\n\n  return {\n    json: {\n      ...body,\n      job_id: body.job_id || ctx.job_id,\n      step: body.step || ctx.step || 'render',\n      status_url: body.status_url || ctx.status_url || `/jobs/${ctx.job_id}`,\n      result_url: body.result_url || ctx.result_url || `/jobs/${ctx.job_id}/result`,\n      source: ctx.source,\n      video_id: ctx.video_id,\n      original_payload: ctx.original_payload\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        768
      ],
      "id": "531a4fae-c2fa-4222-96d7-ee8ad7555a09",
      "name": "Keep Render Status Context1"
    },
    {
      "parameters": {
        "jsCode": "const original = $('Code in JavaScript3').first().json;\n\nreturn $input.all().map(item => {\n  const body = item.json.body || item.json;\n\n  if (!body.job_id) {\n    throw new Error(`Render job_id tidak ditemukan. Response: ${JSON.stringify(item.json)}`);\n  }\n\n  return {\n    json: {\n      ...body,\n      job_id: body.job_id,\n      step: body.step || 'render',\n      status_url: body.status_url || `/jobs/${body.job_id}`,\n      result_url: body.result_url || `/jobs/${body.job_id}/result`,\n      source: original.source,\n      video_id: original.video_id,\n      original_payload: original\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        768
      ],
      "id": "eff07097-a7c0-4f56-91d2-45347a21eb15",
      "name": "Remap Render Job ID1"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -336,
        144
      ],
      "id": "a39937ec-5adb-491c-a7c1-e132125a54fa",
      "name": "Telegram Trigger",
      "webhookId": "caa8d2da-ef70-46bb-ac13-19d114a02445",
      "credentials": {
        "telegramApi": {
          "id": "wo2KtQA3GKUjikub",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "670606831",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        352
      ],
      "id": "4ab62770-4c48-4fa3-9a56-7d19e24d747f",
      "name": "Send a document",
      "webhookId": "b2d08a0a-ffbe-4fe0-a69f-a16d4fc09bc2",
      "credentials": {
        "telegramApi": {
          "id": "wo2KtQA3GKUjikub",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        304,
        352
      ],
      "id": "4216fb44-f927-48af-9bae-5c62c200c2ae",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "={{ 'Transcript gagal untuk video ' + ($json.video_id || $('Parse Source & Video ID').first().json.video_id || '-') + '\\n\\n' + ($json.error || 'Unknown transcript error') }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        304,
        528
      ],
      "id": "transcript-error-node-id",
      "name": "Send Transcript Error",
      "webhookId": "transcript-error-webhook-id",
      "credentials": {
        "telegramApi": {
          "id": "wo2KtQA3GKUjikub",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "transcript-status-completed",
              "leftValue": "=completed",
              "rightValue": "={{ $json.status }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        96,
        368
      ],
      "id": "27500967-e8a3-48c4-9fa6-99832c79ee49",
      "name": "If Transcript Status"
    },
    {
      "parameters": {
        "url": "=https://authentic-linguist-scoundrel.ngrok-free.dev/jobs/{{ $('Ekstract Trunscribe1').item.json.body.job_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -96,
        368
      ],
      "id": "021a8fb0-ebe7-406f-a82c-fc3a65c9e7c5",
      "name": "Check Status Extract transcribe1",
      "credentials": {
        "httpBearerAuth": {
          "id": "qnh8bEUvqFLgPjIQ",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://authentic-linguist-scoundrel.ngrok-free.dev/jobs/steps/transcript",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "source",
              "value": "={{ $('Parse Source & Video ID').item.json.source }}"
            },
            {
              "name": "languages",
              "value": "id,en"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -288,
        368
      ],
      "id": "223ea17c-d854-44a4-b8f0-1ba2e0adc74f",
      "name": "Ekstract Trunscribe1",
      "credentials": {
        "httpBearerAuth": {
          "id": "qnh8bEUvqFLgPjIQ",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        336,
        528
      ],
      "id": "35b152d9-83be-48d6-a1c4-fbf099c65204",
      "name": "Wait5",
      "webhookId": "d8043f7f-7843-440f-9e93-5357c3c32b73"
    },
    {
      "parameters": {
        "url": "=https://authentic-linguist-scoundrel.ngrok-free.dev/jobs/{{ $json.job_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        336,
        144
      ],
      "id": "f9fa52c5-9854-4056-9bc1-4160052d995f",
      "name": "Check Status Download1",
      "credentials": {
        "httpBearerAuth": {
          "id": "qnh8bEUvqFLgPjIQ",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://authentic-linguist-scoundrel.ngrok-free.dev/jobs/steps/download",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "source",
              "value": "={{ $('Parse Source & Video ID').item.json.source }}"
            },
            {
              "name": "quality",
              "value": "1080"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        112,
        144
      ],
      "id": "6048caaa-692c-459d-931d-e028a1ad5a38",
      "name": "Download1",
      "credentials": {
        "httpBearerAuth": {
          "id": "qnh8bEUvqFLgPjIQ",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        768,
        160
      ],
      "id": "4f2c4631-fc3b-4596-8a41-ac1fa654e0e2",
      "name": "Wait4",
      "webhookId": "d8043f7f-7843-440f-9e93-5357c3c32b73"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9a25dc2b-4a08-4539-acef-03ccfd185218",
              "leftValue": "=completed",
              "rightValue": "={{ $json.status }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        528,
        144
      ],
      "id": "e4dd82ba-8ecd-4b6d-b9ab-70212c5d4e85",
      "name": "If3"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction extractYouTubeVideoId(input) {\n  if (!input || typeof input !== 'string') return null;\n\n  const text = input.trim();\n\n  const patterns = [\n    /youtu\\.be\\/([a-zA-Z0-9_-]{11})/,\n    /youtube\\.com\\/watch\\?v=([a-zA-Z0-9_-]{11})/,\n    /youtube\\.com\\/shorts\\/([a-zA-Z0-9_-]{11})/,\n    /youtube\\.com\\/embed\\/([a-zA-Z0-9_-]{11})/,\n    /(?:^|[^a-zA-Z0-9_-])([a-zA-Z0-9_-]{11})(?:$|[^a-zA-Z0-9_-])/\n  ];\n\n  for (const pattern of patterns) {\n    const match = text.match(pattern);\n    if (match?.[1]) return match[1];\n  }\n\n  return null;\n}\n\nreturn items.map(item => {\n  const chatInput = item.json.message?.text || \"\";\n  const videoId = extractYouTubeVideoId(chatInput);\n\n  if (!videoId) {\n    throw new Error(`Invalid YouTube source. video_id tidak ditemukan dari input: ${chatInput}`);\n  }\n\n  return {\n    json: {\n      source: `https://youtu.be/${videoId}`,\n      video_id: videoId,\n      original_input: chatInput\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        144
      ],
      "id": "81b667e1-244d-4852-bb6a-6c01b627ef3c",
      "name": "Parse Source & Video ID"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "transcript-failed-status",
              "leftValue": "=failed",
              "rightValue": "={{ $json.status }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -96,
        448
      ],
      "id": "27500967-e8a3-48c4-9fa6-99832c79ee50",
      "name": "If Transcript Failed"
    }
  ],
  "connections": {
    "Download Watermark Video": {
      "main": [
        [
          {
            "node": "Send a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Telegram Payload": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download Watermark Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Watermark Result": {
      "main": [
        [
          {
            "node": "Prepare Telegram Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remap Watermark Job ID3": {
      "main": [
        [
          {
            "node": "Cek Status Watermark2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Watermark3": {
      "main": [
        [
          {
            "node": "Cek Status Watermark2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Watermark Completed3": {
      "main": [
        [
          {
            "node": "Get Watermark Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Watermark3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Watermark3": {
      "main": [
        [
          {
            "node": "Remap Watermark Job ID3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Subtitle2": {
      "main": [
        [
          {
            "node": "Cek Status Subtitle2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Subtitle Completed2": {
      "main": [
        [
          {
            "node": "Trigger Watermark3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Subtitle2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cek Status Subtitle2": {
      "main": [
        [
          {
            "node": "Keep Subtitle Status Context1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remap Subtitle Job ID2": {
      "main": [
        [
          {
            "node": "Cek Status Subtitle2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Subtitle Generator2": {
      "main": [
        [
          {
            "node": "Remap Subtitle Job ID2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Opening3": {
      "main": [
        [
          {
            "node": "Cek Status Opening3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Opening Completed3": {
      "main": [
        [
          {
            "node": "Trigger Subtitle Generator2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Opening3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cek Status Opening3": {
      "main": [
        [
          {
            "node": "Keep Opening Status Context2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remap Opening Job ID3": {
      "main": [
        [
          {
            "node": "Cek Status Opening3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Opening Narration3": {
      "main": [
        [
          {
            "node": "Remap Opening Job ID3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait9": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If8": {
      "main": [
        [
          {
            "node": "Trigger Opening Narration3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Keep Render Status Context1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger2": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Remap Render Job ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep Watermark Status Context2": {
      "main": [
        [
          {
            "node": "If Watermark Completed3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cek Status Watermark2": {
      "main": [
        [
          {
            "node": "Keep Watermark Status Context2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep Subtitle Status Context1": {
      "main": [
        [
          {
            "node": "If Subtitle Completed2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep Opening Status Context2": {
      "main": [
        [
          {
            "node": "If Opening Completed3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep Render Status Context1": {
      "main": [
        [
          {
            "node": "If8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remap Render Job ID1": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Parse Source & Video ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Send a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Transcript Error": {
      "main": [
        []
      ]
    },
    "Ekstract Trunscribe1": {
      "main": [
        [
          {
            "node": "Check Status Extract transcribe1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "Check Status Extract transcribe1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status Download1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download1": {
      "main": [
        [
          {
            "node": "Check Status Download1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Check Status Download1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Ekstract Trunscribe1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Source & Video ID": {
      "main": [
        [
          {
            "node": "Download1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Transcript Failed": {
      "main": [
        [
          {
            "node": "Send Transcript Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Transcript Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status Extract transcribe1": {
      "main": [
        [
          {
            "node": "If Transcript Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Transcript Status": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "481b6d6d8cdc2059cf679d4d7a29b248ab1ec28d8e0ed135d3d9c3f58c732b25"
  }
}