n8n_post_content.json
{
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://authentic-linguist-scoundrel.ngrok-free.dev/jobs/steps/render",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer change-me"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4688,
        5152
      ],
      "id": "14c0b94c-5baf-454b-b964-7babc607ccbf",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        4320,
        5152
      ],
      "id": "d9bb8229-7fbe-4b42-b4cd-57692b82007d",
      "name": "Telegram Trigger1",
      "webhookId": "6546baad-d406-441b-8730-8493ac0ee7e4",
      "credentials": {
        "telegramApi": {
          "id": "wo2KtQA3GKUjikub",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * n8n Code Node\n * Parser Telegram input untuk payload JSON dari message.text atau file .json.\n */\n\nfunction fail(message, details = {}) {\n  throw new Error(\n    `${message}${Object.keys(details).length ? ` | ${JSON.stringify(details)}` : ''}`\n  );\n}\n\nfunction isObject(value) {\n  return value !== null && typeof value === 'object' && !Array.isArray(value);\n}\n\nfunction isNonEmptyString(value) {\n  return typeof value === 'string' && value.trim().length > 0;\n}\n\nfunction isValidNumber(value) {\n  return typeof value === 'number' && Number.isFinite(value);\n}\n\nfunction extractYoutubeVideoId(sourceOrVideoId) {\n  if (!isNonEmptyString(sourceOrVideoId)) return null;\n\n  const value = sourceOrVideoId.trim();\n\n  const patterns = [\n    /youtube\\.com\\/watch\\?v=([a-zA-Z0-9_-]{11})/,\n    /youtu\\.be\\/([a-zA-Z0-9_-]{11})/,\n    /youtube\\.com\\/shorts\\/([a-zA-Z0-9_-]{11})/,\n    /^([a-zA-Z0-9_-]{11})$/\n  ];\n\n  for (const pattern of patterns) {\n    const match = value.match(pattern);\n    if (match) return match[1];\n  }\n\n  return null;\n}\n\nfunction safeJsonParse(value) {\n  try {\n    return JSON.parse(value);\n  } catch (error) {\n    return null;\n  }\n}\n\nasync function getRawPayloadText(item, itemIndex, helpers) {\n  const binaryKeys = Object.keys(item.binary || {});\n\n  if (binaryKeys.length > 0) {\n    const binaryPropertyName = binaryKeys.includes('data') ? 'data' : binaryKeys[0];\n    const binaryMeta = item.binary[binaryPropertyName] || {};\n    const fileName =\n      binaryMeta.fileName ||\n      item.json?.message?.document?.file_name ||\n      item.json?.message?.document?.fileName ||\n      null;\n\n    const buffer = await helpers.getBinaryDataBuffer(itemIndex, binaryPropertyName);\n    const raw = buffer.toString('utf8').trim();\n\n    if (!isNonEmptyString(raw)) {\n      fail('File JSON Telegram kosong atau tidak bisa dibaca sebagai UTF-8.', {\n        binary_property: binaryPropertyName,\n        file_name: fileName\n      });\n    }\n\n    return {\n      raw,\n      input_type: 'telegram_json_file',\n      binary_property: binaryPropertyName,\n      file_name: fileName\n    };\n  }\n\n  const text = item.json?.message?.text;\n\n  if (isNonEmptyString(text)) {\n    return {\n      raw: text.trim(),\n      input_type: 'telegram_text',\n      binary_property: null,\n      file_name: null\n    };\n  }\n\n  fail('Payload Telegram tidak ditemukan. Kirim JSON sebagai message.text atau upload file .json, dan pastikan Telegram Trigger1 Additional Fields > Download aktif.', {\n    available_json_keys: Object.keys(item.json || {}),\n    has_binary: Boolean(item.binary),\n    document: item.json?.message?.document || null\n  });\n}\n\nfunction parsePayload(rawInput) {\n  let parsed = safeJsonParse(rawInput.raw);\n\n  if (parsed === null) {\n    fail('Payload Telegram bukan JSON valid pada parse pertama.', {\n      input_type: rawInput.input_type,\n      file_name: rawInput.file_name,\n      text_preview: rawInput.raw.slice(0, 500)\n    });\n  }\n\n  if (typeof parsed === 'string') {\n    const secondParsed = safeJsonParse(parsed.trim());\n\n    if (secondParsed === null) {\n      fail('Payload Telegram berhasil parse pertama, tapi gagal parse kedua.', {\n        input_type: rawInput.input_type,\n        file_name: rawInput.file_name,\n        first_parse_type: typeof parsed,\n        first_parse_preview: parsed.slice(0, 500)\n      });\n    }\n\n    parsed = secondParsed;\n  }\n\n  if (!isObject(parsed)) {\n    fail('Payload hasil parse harus berupa object JSON.', {\n      input_type: rawInput.input_type,\n      file_name: rawInput.file_name,\n      parsed_type: typeof parsed\n    });\n  }\n\n  return parsed;\n}\n\nfunction validatePayload(payload) {\n  const errors = [];\n\n  const videoId = extractYoutubeVideoId(\n    payload.source ||\n    payload.video_id ||\n    payload.source_video?.video_id ||\n    payload.render_payload?.source_video?.video_id\n  );\n\n  if (!videoId) {\n    errors.push({\n      field: 'video_id/source/source_video.video_id/render_payload.source_video.video_id',\n      message: 'Wajib berisi YouTube URL valid atau video_id 11 karakter.'\n    });\n  }\n\n  if (!Number.isInteger(payload.num_clips) || payload.num_clips < 1) {\n    errors.push({\n      field: 'num_clips',\n      message: 'num_clips wajib integer minimal 1.'\n    });\n  }\n\n  const allowedQuality = ['720', '1080', '1440', '2160'];\n\n  if (!allowedQuality.includes(String(payload.quality))) {\n    errors.push({\n      field: 'quality',\n      message: `quality harus salah satu dari: ${allowedQuality.join(', ')}.`\n    });\n  }\n\n  if (!isNonEmptyString(payload.languages)) {\n    errors.push({\n      field: 'languages',\n      message: 'languages wajib string, contoh: id,en.'\n    });\n  }\n\n  if (!isObject(payload.render_payload)) {\n    errors.push({\n      field: 'render_payload',\n      message: 'render_payload wajib object.'\n    });\n  }\n\n  if (errors.length > 0) {\n    fail('Payload utama tidak valid.', { errors });\n  }\n\n  const rp = payload.render_payload;\n\n  if (!Number.isInteger(rp.clip_index) || rp.clip_index < 1) {\n    fail('render_payload.clip_index wajib integer minimal 1.');\n  }\n\n  if (!isValidNumber(rp.viral_score) || rp.viral_score < 0 || rp.viral_score > 10) {\n    fail('render_payload.viral_score wajib number antara 0 sampai 10.');\n  }\n\n  if (!isNonEmptyString(rp.clip_type)) {\n    fail('render_payload.clip_type wajib string.');\n  }\n\n  if (!isValidNumber(rp.start)) {\n    fail('render_payload.start wajib number.');\n  }\n\n  if (!isValidNumber(rp.end)) {\n    fail('render_payload.end wajib number.');\n  }\n\n  if (rp.end <= rp.start) {\n    fail('render_payload.end harus lebih besar dari start.', {\n      start: rp.start,\n      end: rp.end\n    });\n  }\n\n  if (!isValidNumber(rp.duration) || rp.duration <= 0) {\n    fail('render_payload.duration wajib number lebih dari 0.');\n  }\n\n  const calculatedDuration = Number((rp.end - rp.start).toFixed(2));\n\n  if (Math.abs(calculatedDuration - rp.duration) > 0.3) {\n    fail('render_payload.duration tidak sesuai dengan end - start.', {\n      provided_duration: rp.duration,\n      calculated_duration: calculatedDuration\n    });\n  }\n\n  if (!isObject(rp.hook_3_5_seconds)) {\n    fail('render_payload.hook_3_5_seconds wajib object.');\n  }\n\n  const hook = rp.hook_3_5_seconds;\n\n  if (!isValidNumber(hook.start) || !isValidNumber(hook.end)) {\n    fail('hook_3_5_seconds.start dan end wajib number.');\n  }\n\n  if (hook.end <= hook.start) {\n    fail('hook_3_5_seconds.end harus lebih besar dari start.');\n  }\n\n  if (hook.start < rp.start || hook.end > rp.end) {\n    fail('hook_3_5_seconds harus berada di dalam range clip.', {\n      clip_start: rp.start,\n      clip_end: rp.end,\n      hook_start: hook.start,\n      hook_end: hook.end\n    });\n  }\n\n  if (!isNonEmptyString(hook.text)) {\n    fail('hook_3_5_seconds.text wajib string.');\n  }\n\n  if (!Array.isArray(rp.selected_transcript) || rp.selected_transcript.length === 0) {\n    fail('render_payload.selected_transcript wajib array dan tidak boleh kosong.');\n  }\n\n  rp.selected_transcript.forEach((segment, index) => {\n    if (!isObject(segment)) {\n      fail(`selected_transcript[${index}] wajib object.`);\n    }\n\n    if (!isValidNumber(segment.start)) {\n      fail(`selected_transcript[${index}].start wajib number.`);\n    }\n\n    if (!isValidNumber(segment.end)) {\n      fail(`selected_transcript[${index}].end wajib number.`);\n    }\n\n    if (segment.end <= segment.start) {\n      fail(`selected_transcript[${index}].end harus lebih besar dari start.`);\n    }\n\n    if (!isNonEmptyString(segment.text)) {\n      fail(`selected_transcript[${index}].text wajib string.`);\n    }\n  });\n\n  if (!isObject(rp.youtube_metadata)) {\n    fail('render_payload.youtube_metadata wajib object.');\n  }\n\n  if (!isNonEmptyString(rp.youtube_metadata.title)) {\n    fail('youtube_metadata.title wajib string.');\n  }\n\n  if (!isNonEmptyString(rp.youtube_metadata.description)) {\n    fail('youtube_metadata.description wajib string.');\n  }\n\n  if (!Array.isArray(rp.youtube_metadata.hashtags) || rp.youtube_metadata.hashtags.length === 0) {\n    fail('youtube_metadata.hashtags wajib array dan tidak boleh kosong.');\n  }\n\n  rp.youtube_metadata.hashtags.forEach((tag, index) => {\n    if (!isNonEmptyString(tag)) {\n      fail(`youtube_metadata.hashtags[${index}] wajib string.`);\n    }\n\n    if (!tag.startsWith('#')) {\n      fail(`youtube_metadata.hashtags[${index}] harus diawali #.`);\n    }\n  });\n\n  if (!isObject(rp.subtitle_recommendation)) {\n    fail('render_payload.subtitle_recommendation wajib object.');\n  }\n\n  if (!isNonEmptyString(rp.subtitle_recommendation.style)) {\n    fail('subtitle_recommendation.style wajib string.');\n  }\n\n  if (\n    !Number.isInteger(rp.subtitle_recommendation.max_words_per_line) ||\n    rp.subtitle_recommendation.max_words_per_line < 1 ||\n    rp.subtitle_recommendation.max_words_per_line > 8\n  ) {\n    fail('subtitle_recommendation.max_words_per_line wajib integer antara 1 sampai 8.');\n  }\n\n  if (!isObject(rp.editing_recommendation)) {\n    fail('render_payload.editing_recommendation wajib object.');\n  }\n\n  if (\n    !Array.isArray(rp.editing_recommendation.recommended_cut_style) ||\n    rp.editing_recommendation.recommended_cut_style.length === 0\n  ) {\n    fail('editing_recommendation.recommended_cut_style wajib array dan tidak boleh kosong.');\n  }\n\n  return {\n    video_id: videoId,\n    calculated_duration: calculatedDuration\n  };\n}\n\nconst output = [];\nconst items = $input.all();\n\nfor (let index = 0; index < items.length; index++) {\n  const item = items[index];\n  const rawInput = await getRawPayloadText(item, index, this.helpers);\n  const payload = parsePayload(rawInput);\n  const validationResult = validatePayload(payload);\n  const message = item.json?.message || {};\n\n  output.push({\n    json: {\n      source: `https://youtu.be/${validationResult.video_id}`,\n      video_id: validationResult.video_id,\n      num_clips: payload.num_clips,\n      quality: String(payload.quality),\n      languages: payload.languages.trim(),\n\n      render_payload: {\n        ...payload.render_payload,\n        calculated_duration: validationResult.calculated_duration\n      },\n\n      source_video: payload.source_video || payload.render_payload.source_video || {\n        video_id: validationResult.video_id,\n        job_id: null,\n        status: null\n      },\n\n      telegram: {\n        update_id: item.json?.update_id ?? null,\n        message_id: message.message_id ?? null,\n        chat_id: message.chat?.id ?? null,\n        username: message.from?.username ?? null,\n        first_name: message.from?.first_name ?? null,\n        last_name: message.from?.last_name ?? null,\n        input_type: rawInput.input_type,\n        file_name: rawInput.file_name,\n        binary_property: rawInput.binary_property\n      },\n\n      validation: {\n        valid: true,\n        message: 'Payload Telegram JSON berhasil diparse dan siap diproses.'\n      }\n    }\n  });\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4496,
        5152
      ],
      "id": "d6a266f0-9081-44e6-b295-411ce5886159",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://authentic-linguist-scoundrel.ngrok-free.dev/jobs/cleanup/video",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer change-me"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  video_id: $json.video_id,\n  delete_assets: true,\n  delete_artifacts: true,\n  delete_jobs: true,\n  delete_source_video: false,\n  delete_transcripts: false\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4608,
        5152
      ],
      "id": "cleanup-existing-video-artifacts",
      "name": "Cleanup Existing Video Artifacts"
    },
    {
      "parameters": {
        "jsCode": "const cleanup = $input.first().json;\nconst status = cleanup.body?.status || cleanup.status;\n\nif (status && status !== 'completed') {\n  throw new Error(`Cleanup artifact gagal. Response: ${JSON.stringify(cleanup)}`);\n}\n\nreturn [\n  {\n    json: $('Code in JavaScript2').first().json\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4640,
        5152
      ],
      "id": "keep-cleanup-context-node-id",
      "name": "Keep Cleanup Context"
    },
    {
      "parameters": {
        "url": "=https://authentic-linguist-scoundrel.ngrok-free.dev/jobs/{{ $json.job_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer change-me"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5296,
        5152
      ],
      "id": "9cf4bc7f-b915-4a64-97ff-5cddf09754da",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9a25dc2b-4a08-4539-acef-03ccfd185218",
              "leftValue": "=completed",
              "rightValue": "={{ $json.status }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5504,
        5152
      ],
      "id": "41aa2ed7-318c-4451-847a-8a8d908c32fc",
      "name": "If7"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5728,
        5168
      ],
      "id": "377569bc-1ace-46a9-bd80-e4b3b2404259",
      "name": "Wait8",
      "webhookId": "d8043f7f-7843-440f-9e93-5357c3c32b73"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://authentic-linguist-scoundrel.ngrok-free.dev/jobs/steps/opening",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer change-me"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "source",
              "value": "={{ $('Code in JavaScript2').first().json.source }}"
            },
            {
              "name": "opening_statement",
              "value": "={{ $('Code in JavaScript2').first().json.render_payload.opening_narration.text }}"
            },
            {
              "name": "opening_voice",
              "value": "id-ID-GadisNeural"
            },
            {
              "name": "opening_rate",
              "value": "+10%"
            },
            {
              "name": "opening_pitch",
              "value": "+0Hz"
            },
            {
              "name": "opening_thumbnail_title",
              "value": "={{ $('Code in JavaScript2').first().json.render_payload.youtube_metadata.thumbnail_text }}"
            },
            {
              "name": "opening_thumbnail_font",
              "value": "assets/font/thumbnail-title/Bangers-Regular.ttf"
            },
            {
              "name": "opening_source_title",
              "value": "KILASANVIDEO"
            },
            {
              "name": "opening_bgm_volume",
              "value": "0.30"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5104,
        5392
      ],
      "id": "cf839633-fcaa-4a9d-893e-ca44a28b3386",
      "name": "Trigger Opening Narration2"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const body = item.json.body || item.json;\n\n  if (!body.job_id) {\n    throw new Error(`Opening job_id tidak ditemukan. Response: ${JSON.stringify(item.json)}`);\n  }\n\n  return {\n    json: {\n      job_id: body.job_id,\n      step: body.step || 'opening',\n      status_url: body.status_url || `/jobs/${body.job_id}`,\n      result_url: body.result_url || `/jobs/${body.job_id}/result`,\n      source: $('Code in JavaScript2').first().json.source,\n      video_id: $('Code in JavaScript2').first().json.video_id\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5296,
        5392
      ],
      "id": "592bbe16-6b24-4e66-8401-35f1f5f3de9b",
      "name": "Remap Opening Job ID2"
    },
    {
      "parameters": {
        "url": "=https://authentic-linguist-scoundrel.ngrok-free.dev/jobs/{{ $json.job_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer change-me"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5504,
        5392
      ],
      "id": "5daf92be-0d7c-4b38-8017-05c1edf6fc93",
      "name": "Cek Status Opening2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "opening-completed-status",
              "leftValue": "=completed",
              "rightValue": "={{ $json.status }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5888,
        5392
      ],
      "id": "66d19e9e-2f46-4437-b83b-18977b3ad49b",
      "name": "If Opening Completed2"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        6128,
        5408
      ],
      "id": "df27326b-b887-4e75-8ddd-2fd580df3e4d",
      "name": "Wait Opening2",
      "webhookId": "37804140-9dfa-4bf9-8ac3-2e9a2fffbe21"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://authentic-linguist-scoundrel.ngrok-free.dev/subtitle/burn",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer change-me"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "video_path",
              "value": "={{ $json.subtitle_video_path }}"
            },
            {
              "name": "language",
              "value": "id"
            },
            {
              "name": "engine",
              "value": "auto-captions"
            },
            {
              "name": "style",
              "value": "viral_clip_pro"
            },
            {
              "name": "replace_original",
              "value": "true"
            },
            {
              "name": "transcribe_model",
              "value": "medium"
            },
            {
              "name": "transcribe_preset",
              "value": "accurate"
            },
            {
              "name": "audio_preset",
              "value": "speech"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5664,
        5632
      ],
      "id": "331cb8ce-e60e-4465-81b8-ac144b1920e1",
      "name": "Trigger Subtitle Generator1"
    },
    {
      "parameters": {
        "jsCode": "const items = $('Trigger Subtitle Generator1').all();\nconst prepared = $('Prepare Subtitle Video Path').first().json;\n\nreturn items.map(item => {\n  const body = item.json.body || item.json;\n\n  if (!body.job_id) {\n    throw new Error(`Subtitle job_id tidak ditemukan. Response: ${JSON.stringify(item.json)}`);\n  }\n\n  return {\n    json: {\n      job_id: body.job_id,\n      step: 'subtitle',\n      status_url: body.status_url || `/subtitle/jobs/${body.job_id}`,\n      result_url: body.result_url || `/subtitle/jobs/${body.job_id}`,\n      source: $('Code in JavaScript2').first().json.source,\n      video_id: $('Code in JavaScript2').first().json.video_id,\n      subtitle_video_path: prepared.subtitle_video_path,\n      subtitle_fallback_video_path: prepared.subtitle_fallback_video_path,\n      clip_index: prepared.clip_index,\n      clip_number: prepared.clip_number\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5840,
        5632
      ],
      "id": "dda1bde1-bdd1-4e6a-88c6-c948d1400830",
      "name": "Remap Subtitle Job ID1"
    },
    {
      "parameters": {
        "url": "=https://authentic-linguist-scoundrel.ngrok-free.dev/subtitle/jobs/{{ $json.job_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer change-me"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5680,
        5872
      ],
      "id": "22905974-2cd6-4386-8041-2d643576b154",
      "name": "Cek Status Subtitle1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "subtitle-completed-status",
              "leftValue": "=completed",
              "rightValue": "={{ $json.status }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6048,
        5872
      ],
      "id": "ba765658-3cb3-4bb6-9870-a2b39bb07b78",
      "name": "If Subtitle Completed1"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        6288,
        5888
      ],
      "id": "3b8a3868-4217-4cf8-ae81-63eab8aa5620",
      "name": "Wait Subtitle1",
      "webhookId": "37804140-9dfa-4bf9-8ac3-2e9a2fffbe22"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://authentic-linguist-scoundrel.ngrok-free.dev/jobs/steps/watermark",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer change-me"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "source",
              "value": "={{ $('Code in JavaScript2').first().json.source }}"
            },
            {
              "name": "watermark_text",
              "value": "KILASANVIDEO"
            },
            {
              "name": "watermark_mode",
              "value": "text"
            },
            {
              "name": "watermark_position",
              "value": "center_15_top"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5376,
        6176
      ],
      "id": "cf3b0dc4-8657-499e-bdc9-8d39704ab018",
      "name": "Trigger Watermark2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "watermark-completed-status",
              "leftValue": "=completed",
              "rightValue": "={{ $json.status }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6144,
        6176
      ],
      "id": "190abe8f-66c9-4efb-8c1c-31ac85c7a637",
      "name": "If Watermark Completed2"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        6384,
        6192
      ],
      "id": "8543e7c8-2127-4fb5-a4b2-0d301037245a",
      "name": "Wait Watermark2",
      "webhookId": "37804140-9dfa-4bf9-8ac3-2e9a2fffbe20"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const body = item.json.body || item.json;\n\n  if (!body.job_id) {\n    throw new Error(`Watermark job_id tidak ditemukan. Response: ${JSON.stringify(item.json)}`);\n  }\n\n  return {\n    json: {\n      job_id: body.job_id,\n      step: body.step || 'watermark',\n      status_url: body.status_url || `/jobs/${body.job_id}`,\n      result_url: body.result_url || `/jobs/${body.job_id}/result`,\n      source: $('Code in JavaScript2').first().json.source,\n      video_id:$('Code in JavaScript2').first().json.video_id\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5568,
        6176
      ],
      "id": "5789f6b5-a7ae-40cd-b941-0d6adc591f3c",
      "name": "Remap Watermark Job ID2"
    },
    {
      "parameters": {
        "jsCode": "const original = $('Code in JavaScript2').first().json;\n\nreturn $input.all().map(item => {\n  const body = item.json.body || item.json;\n\n  if (!body.job_id) {\n    throw new Error(`Render job_id tidak ditemukan. Response: ${JSON.stringify(item.json)}`);\n  }\n\n  return {\n    json: {\n      ...body,\n      job_id: body.job_id,\n      step: body.step || 'render',\n      status_url: body.status_url || `/jobs/${body.job_id}`,\n      result_url: body.result_url || `/jobs/${body.job_id}/result`,\n      source: original.source,\n      video_id: original.video_id,\n      original_payload: original\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4896,
        5152
      ],
      "id": "8c01e65c-f96e-4355-8ee3-ca49b0d095b6",
      "name": "Remap Render Job ID1"
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Remap Render Job ID1').first().json;\n\nreturn $input.all().map(item => {\n  const body = item.json.body || item.json;\n\n  return {\n    json: {\n      ...body,\n      job_id: body.job_id || ctx.job_id,\n      step: body.step || ctx.step || 'render',\n      status_url: body.status_url || ctx.status_url || `/jobs/${ctx.job_id}`,\n      result_url: body.result_url || ctx.result_url || `/jobs/${ctx.job_id}/result`,\n      source: ctx.source,\n      video_id: ctx.video_id,\n      original_payload: ctx.original_payload\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5088,
        5152
      ],
      "id": "d08b01d7-dd7e-4248-8e17-af27c3b7b429",
      "name": "Keep Render Status Context1"
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Remap Opening Job ID2').first().json;\n\nreturn $input.all().map(item => {\n  const body = item.json.body || item.json;\n\n  return {\n    json: {\n      ...body,\n      job_id: body.job_id || ctx.job_id,\n      step: body.step || ctx.step || 'opening',\n      status_url: body.status_url || ctx.status_url || `/jobs/${ctx.job_id}`,\n      result_url: body.result_url || ctx.result_url || `/jobs/${ctx.job_id}/result`,\n      source: ctx.source,\n      video_id: ctx.video_id\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5680,
        5392
      ],
      "id": "549f5d51-5df4-4668-8e51-b3c3fc25ed88",
      "name": "Keep Opening Status Context2"
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Remap Subtitle Job ID1').first().json;\n\nreturn $input.all().map(item => {\n  const body = item.json.body || item.json;\n\n  return {\n    json: {\n      ...body,\n      job_id: body.job_id || ctx.job_id,\n      step: body.step || ctx.step || 'subtitle',\n      status_url: body.status_url || ctx.status_url || `/subtitle/jobs/${ctx.job_id}`,\n      result_url: body.result_url || ctx.result_url || `/subtitle/jobs/${ctx.job_id}`,\n      source: ctx.source,\n      video_id: ctx.video_id,\n      subtitle_video_path: ctx.subtitle_video_path,\n      subtitle_fallback_video_path: ctx.subtitle_fallback_video_path,\n      clip_index: ctx.clip_index,\n      clip_number: ctx.clip_number\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5840,
        5872
      ],
      "id": "1e7a4ac6-0dfa-4cfc-acc0-b44d7f705790",
      "name": "Keep Subtitle Status Context1"
    },
    {
      "parameters": {
        "url": "=https://authentic-linguist-scoundrel.ngrok-free.dev/jobs/{{ $json.job_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer change-me"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5760,
        6176
      ],
      "id": "5f0a7f24-d594-4d3f-8727-f43b507541ff",
      "name": "Cek Status Watermark2"
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Remap Watermark Job ID2').first().json;\n\nreturn $input.all().map(item => {\n  const body = item.json.body || item.json;\n\n  return {\n    json: {\n      ...body,\n      job_id: body.job_id || ctx.job_id,\n      step: body.step || ctx.step || 'watermark',\n      status_url: body.status_url || ctx.status_url || `/jobs/${ctx.job_id}`,\n      result_url: body.result_url || ctx.result_url || `/jobs/${ctx.job_id}/result`,\n      source: ctx.source,\n      video_id: ctx.video_id\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5952,
        6176
      ],
      "id": "784d21af-74ae-486f-80dc-b0693a2d1b50",
      "name": "Keep Watermark Status Context2"
    },
    {
      "parameters": {
        "jsCode": "const original = $('Code in JavaScript2').first().json;\nconst current = $input.first().json;\n\nconst videoId = original.video_id;\nif (!videoId) {\n  throw new Error('video_id tidak ditemukan dari payload utama');\n}\n\nconst clipIndex = Number(original.render_payload?.clip_index || 1);\nif (!Number.isInteger(clipIndex) || clipIndex < 1) {\n  throw new Error(`render_payload.clip_index tidak valid: ${original.render_payload?.clip_index}`);\n}\n\nconst clipNumber = String(clipIndex).padStart(2, '0');\nconst baseDir = `/Users/agusrachman/Documents/Codex/content-short/storage/free-viral-shorts/${videoId}`;\n\nreturn [\n  {\n    json: {\n      ...current,\n      video_id: current.video_id || videoId,\n      subtitle_video_path: `${baseDir}/shorts/short_${clipNumber}.mp4`,\n      subtitle_fallback_video_path: `${baseDir}/shorts/short_${clipNumber}.mp4`,\n      opening_expected_temp_path: `${baseDir}/opening/short_${clipNumber}_with_opening.mp4`,\n      clip_index: clipIndex,\n      clip_number: clipNumber\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2550,
        7584
      ],
      "id": "prepare-subtitle-video-path-node-id",
      "name": "Prepare Subtitle Video Path"
    },
    {
      "parameters": {
        "url": "=https://authentic-linguist-scoundrel.ngrok-free.dev/jobs/{{ $json.job_id }}/result",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer change-me"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6400,
        6176
      ],
      "id": "get-watermark-result-restored",
      "name": "Get Watermark Result"
    },
    {
      "parameters": {
        "jsCode": "// Prepare Telegram Payload\nconst original = $('Code in JavaScript2').first().json;\nconst result = $input.first().json;\n\nconst API_BASE_URL = 'https://authentic-linguist-scoundrel.ngrok-free.dev';\n\nconst chat_id = original.telegram?.chat_id;\nif (!chat_id) {\n  throw new Error('chat_id tidak ditemukan dari payload Telegram');\n}\n\nconst yt = original.render_payload?.youtube_metadata;\nif (!yt) {\n  throw new Error('youtube_metadata tidak ditemukan dari render_payload');\n}\n\nconst video_id = original.video_id;\nlet files = result.files || [];\n\n// FIX: If files is empty, construct path directly from storage structure\nlet watermarkedVideo = null;\nif (files.length === 0) {\n  const wmPath = `/storage/free-viral-shorts/${video_id}/watermarked`;\n  watermarkedVideo = {\n    filename: `${video_id}_wm.mp4`,\n    path: wmPath,\n    absolute_path: wmPath,\n    download_url: `${API_BASE_URL}/storage/free-viral-shorts/${video_id}/watermarked/${video_id}_wm.mp4`\n  };\n} else {\n  watermarkedVideo =\n    files.find(file =>\n      file.filename?.endsWith('.mp4') &&\n      (file.filename.includes('_wm') || file.path?.includes('/watermarked/'))\n    ) ||\n    files.find(file => file.filename?.endsWith('.mp4'));\n}\n\nif (!watermarkedVideo) {\n  throw new Error(`File video watermark tidak ditemukan. files=${JSON.stringify(files)}`);\n}\n\nconst rawVideoPath = watermarkedVideo.absolute_path || watermarkedVideo.file_path || watermarkedVideo.path;\nconst video_path = rawVideoPath?.startsWith('/') ? rawVideoPath : rawVideoPath ? `/Users/agusrachman/Documents/Codex/content-short/storage/${rawVideoPath}` : null;\n\nconst video_download_url = watermarkedVideo.download_url || (watermarkedVideo.url ? `${API_BASE_URL}${watermarkedVideo.url}` : null);\n\nif (!video_download_url) {\n  throw new Error(`Download URL video tidak ditemukan: ${JSON.stringify(watermarkedVideo)}`);\n}\n\nconst hashtags = Array.isArray(yt.hashtags) ? yt.hashtags.join(' ') : '';\nconst hookText = original.render_payload?.hook_3_5_seconds?.text || '-';\nconst thumbnailText = yt.thumbnail_text || '-';\nconst viralScore = original.render_payload?.viral_score ?? '-';\nconst clipType = original.render_payload?.clip_type || '-';\nconst duration = original.render_payload?.duration || original.render_payload?.calculated_duration || '-';\n\nconst caption = [yt.title || 'Video pendek', hashtags].filter(Boolean).join('\\n\\n').slice(0, 1024);\n\nconst metadata_text = [\n  '\u2705 Render Watermark Selesai',\n  '', `\ud83c\udfac Title:\\n${yt.title || '-'}`,\n  '', `\ud83d\udcdd Description:\\n${yt.description || '-'}`,\n  '', `\ud83c\udff7 Hashtags:\\n${hashtags || '-'}`,\n  '', `\ud83d\uddbc Thumbnail Text:\\n${thumbnailText}`,\n  '', `\ud83e\ude9d Hook:\\n${hookText}`,\n  '', `\u2b50 Viral Score:\\n${viralScore}`,\n  '', `\ud83c\udfad Clip Type:\\n${clipType}`,\n  '', `\u23f1 Duration:\\n${duration} detik`,\n  '', `\ud83d\udd17 Source Video ID:\\n${video_id}`,\n  '', `\ud83d\udcc1 File:\\n${watermarkedVideo.filename || video_path || video_download_url}`,\n  '', `\u2b07\ufe0f Download:\\n${video_download_url}`\n].join('\\n');\n\nreturn [{\n  json: { chat_id, video_id, video_path, video_download_url, caption, metadata_text, filename: watermarkedVideo.filename || video_path || video_download_url }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6624,
        6176
      ],
      "id": "prepare-telegram-payload-restored",
      "name": "Prepare Telegram Payload"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.metadata_text }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        6832,
        6288
      ],
      "id": "send-text-message-restored",
      "name": "Send a text message",
      "webhookId": "send-text-message-restored-webhook",
      "credentials": {
        "telegramApi": {
          "id": "wo2KtQA3GKUjikub",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.video_download_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6832,
        6080
      ],
      "id": "download-watermark-video-restored",
      "name": "Download Watermark Video",
      "credentials": {
        "httpBearerAuth": {
          "id": "qnh8bEUvqFLgPjIQ",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "chatId": "={{ $('Prepare Telegram Payload').first().json.chat_id }}",
        "binaryData": true,
        "additionalFields": {
          "caption": "={{ $('Prepare Telegram Payload').first().json.caption }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        7040,
        6080
      ],
      "id": "send-video-restored",
      "name": "Send a video",
      "webhookId": "send-video-restored-webhook",
      "credentials": {
        "telegramApi": {
          "id": "wo2KtQA3GKUjikub",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Remap Render Job ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Cleanup Existing Video Artifacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup Existing Video Artifacts": {
      "main": [
        [
          {
            "node": "Keep Cleanup Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep Cleanup Context": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Keep Render Status Context1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "Trigger Opening Narration2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait8": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Opening Narration2": {
      "main": [
        [
          {
            "node": "Remap Opening Job ID2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remap Opening Job ID2": {
      "main": [
        [
          {
            "node": "Cek Status Opening2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cek Status Opening2": {
      "main": [
        [
          {
            "node": "Keep Opening Status Context2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Opening Completed2": {
      "main": [
        [
          {
            "node": "Prepare Subtitle Video Path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Opening2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Opening2": {
      "main": [
        [
          {
            "node": "Cek Status Opening2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Subtitle Generator1": {
      "main": [
        [
          {
            "node": "Remap Subtitle Job ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remap Subtitle Job ID1": {
      "main": [
        [
          {
            "node": "Cek Status Subtitle1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cek Status Subtitle1": {
      "main": [
        [
          {
            "node": "Keep Subtitle Status Context1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Subtitle Completed1": {
      "main": [
        [
          {
            "node": "Trigger Watermark2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Subtitle1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Subtitle1": {
      "main": [
        [
          {
            "node": "Cek Status Subtitle1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Watermark2": {
      "main": [
        [
          {
            "node": "Remap Watermark Job ID2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Watermark Completed2": {
      "main": [
        [
          {
            "node": "Get Watermark Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Watermark2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Watermark2": {
      "main": [
        [
          {
            "node": "Cek Status Watermark2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remap Watermark Job ID2": {
      "main": [
        [
          {
            "node": "Cek Status Watermark2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remap Render Job ID1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep Render Status Context1": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep Opening Status Context2": {
      "main": [
        [
          {
            "node": "If Opening Completed2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep Subtitle Status Context1": {
      "main": [
        [
          {
            "node": "If Subtitle Completed1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cek Status Watermark2": {
      "main": [
        [
          {
            "node": "Keep Watermark Status Context2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep Watermark Status Context2": {
      "main": [
        [
          {
            "node": "If Watermark Completed2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Subtitle Video Path": {
      "main": [
        [
          {
            "node": "Trigger Subtitle Generator1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Watermark Result": {
      "main": [
        [
          {
            "node": "Prepare Telegram Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Telegram Payload": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download Watermark Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Watermark Video": {
      "main": [
        [
          {
            "node": "Send a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "481b6d6d8cdc2059cf679d4d7a29b248ab1ec28d8e0ed135d3d9c3f58c732b25"
  }
}